@import url('https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Lobster&family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #449AD3;
    --cor-padrao-hover: #fff;
    --cor-text-padrão: #2d2c2c;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 10px;    
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav ul {
    list-style: none;
    display: flex;
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    letter-spacing: 3px;
    margin-left: 32px;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
    position: relative;
} 

nav ul li:hover{
    background: var(--cor-padrao);
    border-radius: 5px;
    
}

#banner {
    background: url(./img/banner-home.jpg) no-repeat;
    background-size: center;
    background-position: center;
    right: 60vh;
    width: 100%;
    padding: 100px;
}

#banner .titulo-banner h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: var(--cor-padrao);
}

#banner .titulo-banner h4 {
    font-size: 1rem;
    color: var(--cor-padrao);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;
}

#banner .titulo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
}

